h1 {
  color: #ca2626; }

h2 {
  color: green; }

.btn-search {
  border: none;
  background-color: #f30;
  width: 80px;
  border-radius: 8px;
  color: aliceblue;
  height: 38px; }

.search_form {
  width: 50%;
  margin: 0 auto; }
